{{!-- app/templates/components/board.hbs --}}
{{#if isLoading }}
    <div class="data-progress centered">
        <i class="fa fa-spinner fa-spin" id="spinner"></i>
        <span class="loader-text" >Loading Data...</span>
    </div>
{{/if }}

{{#if isData}}
    <div class="col-md-12" id="techan-wrapper">
        <div class="row">
            <div class="col-md-6 col-md-offset-1 btn-group" id="bg">
                {{
                filter-button
                action="toggleVolume"
                param="na"
                colXs2=true
                btnRoundXs=true
                toggle=true
                toggleAll=true
                title="All"
                }}
                {{
                filter-button
                action="toggleVolume"
                param="pos"
                colXs2=true
                btnXs=true
                toggle=true
                togglePos=true
                title="pos"
                }}
                {{
                filter-button
                action="toggleVolume"
                param="neut"
                colXs2=true
                btnXs=true
                toggle=true
                toggleNeut=true
                title="neut"
                }}
                {{
                filter-button
                action="toggleVolume"
                param="neg"
                colXs2=true
                btnRoundXs=true
                toggle=true
                toggleNeg=true
                title="neg"
                }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-5" id="tl-posts-volume"></div>
            <div class="col-md-1"></div>
            <div class="col-md-5" id="pv-price-chart"></div>
        </div>
        <div class="row">
            <div class="col-md-5" id="tl-brush-chart"></div>
            <div class="col-md-1"></div>
            <div class="col-md-5" id="pv-volume-chart"></div>
        </div>
    </div>
{{else}}
    <span class="centered">
    <h4> There is no data available. </h4>
    </span>
{{/if}}

<div class="col-md-12 charts-wrapper">
    <div class="col-md-6" id="gauge-timeline-cell">
        {{#if timelineLoading}}
            <div class="data-progress centered">
                <i class="fa fa-spinner fa-spin" id="spinner"></i>
                <span class="loader-text" >Loading Timeline Data...</span>
            </div>
        {{else}}
            <div class="col-md-12 timeline-head">
                <div class="col-md-3 number-posters">
                    {{
                    focus-input
                    class="form-control"
                    placeholder=topX.length
                    id="number-posters-input"
                    insert-newline="numPosters"
                    }}
                </div>
                <div class="col-md-9 filter-button">
                    <div class="col-md-12 btn-group top-buttons">
                        {{
                        filter-button
                        action="ascdesc"
                        param="sentiment"
                        colXs6=true
                        btnRoundXs=true
                        faChevronDown=true
                        sentiment=true
                        title=" Sentiment"
                        }}
                        {{
                        filter-button
                        action="sortUsers"
                        param="pos"
                        colXs2=true
                        btnXs=true
                        filter=true
                        filterPos=true
                        title="pos"
                        }}
                        {{
                        filter-button
                        action="sortUsers"
                        param="neut"
                        colXs2=true
                        btnXs=true
                        filter=true
                        filterNeut=true
                        title="neut"
                        }}
                        {{
                        filter-button
                        action="sortUsers"
                        param="neg"
                        colXs2=true
                        btnRoundXs=true
                        filter=true
                        filterNeg=true
                        title="neg"
                        }}
                    </div>
                    <div class="col-md-12 btn-group bottom-buttons">
                        {{
                        filter-button
                        action="ascdesc"
                        param="numposts"
                        colXs6=true
                        btnRoundXs=true
                        faChevronDown=true
                        numposts=true
                        title=" Posts"
                        }}
                        {{
                        filter-button
                        action="sortUsers"
                        param="doc"
                        colXs2=true
                        btnXs=true
                        filter=true
                        filterDoc=true
                        title="num"
                        }}
                        {{
                        filter-button
                        action="sortUsers"
                        param="max"
                        colXs2=true
                        btnXs=true
                        filter=true
                        filterMax=true
                        title="max"
                        }}
                        {{
                        filter-button
                        action="sortUsers"
                        param="mean"
                        colXs2=true
                        btnRoundXs=true
                        filter=true
                        filterMean=true
                        title="mean"
                        }}
                    </div>
                </div>
            </div>
            <div class="col-md-12 timeline-container">
                <ul class="col-md-12 timeline-panel" id="timeline">
                    {{#each topX as |t|}}
                        <li class="col-md-12">    
                            <div class="col-md-4">
                                <div id="gauge-{{t}}" class="gauge chart"></div>
                            </div>
                            <div class="col-md-8 ts chart" id="ts-{{t}}">
                                <div class="timeline-info">                        
                                    <span class="title" {{action "topXClicked" t}}></span>
                                    <div class="count-wrapper pull-right during" {{action "sortUsers" "doc"}}></div>
                                </div>
                            </div>
                        </li>
                    {{/each}}
                </ul>
            </div>
        {{/if}}
    </div>
    <div class="col-md-6" id="forum-posts-cell">
        {{#if isLoading}}
        {{else}}
            <div class="search-input">
                <div class="input-group" style="width: 100%;">
                    <div>
                        {{
                        focus-input
                        class="form-control"
                        placeholder="- Search Posts -"
                        id="search-posts"
                        insert-newline="messageSearch"
                        }}
                    </div>
                </div>
            </div>
            <div class="forum-div">
                <ul class="list-group" id="collection">'
                    {{#each postFilteredData as |pfd|}}
                        <li class="list-group-item comments-group-item" id="forum-item">
                            <div class="list-group-item-heading message-header">
                                <div>{{pfd.user}}</div>
                                <div>{{pfd.board}}</div>
                                <div>{{pfd.time}}</div>
                                <div>
                                    <a target="_blank" href={{pfd.url}}>
                                        {{pfd.msg_id}}
                                    </a>
                                </div>
                            </div>
                            <p class="list-group-item-text" id="app-msg">
                                {{pfd.msg}}
                            </p>
                        </li>
                    {{/each}}
                </ul>
            </div>
        {{/if}}
    </div>
</div>
