{{!-- app/templates/components/topNews.hbs --}}
<div class="col-sm-12">
	<div class="col-sm-12 search-input">
		<div class="input-group" style="width: 100%;">
			<div>
				{{
				focus-input
				class="form-control"
				placeholder="- Search articles -"
				id="search-posts"
				insert-newline="newsSearch"
				}}
			</div>
		</div>
	</div>
</div>

<div class="col-sm-12">
        <div class="col-sm-4" id="news-posts-cell">
            <div class="headline-div">
                <ul class="dropdown-menu-right dropdown-menu-omx" role="menu">
                    {{#if newsModel}}
                        {{#each newsModel as |release|}}
                            <li class="li-omx" {{action "findArticle" release.id}}>
                                {{release.date}} - {{release.headline}}
                            </li>
                        {{/each}}
                    {{else}}
                        <li class="li-omx">
                            No Results Returned
                        </li>
                    {{/if}}
                </ul>
            </div>
        </div>
        <div class="col-sm-8 article-omx">
            <div class="omx-wrapper">
                <div class="omx-head">
                    {{articleModel.headline}}
                </div>
                <div class="omx-time">
                    {{articleModel.date}}
                </div>
                <div class="omx-body">
                {{articleModel.article}}
                </div>
            </div>
        </div>
</div>
