{{!-- web/templates/hit.hbs --}}

<div class="accordion-group">
    <div class="accordion-heading">
        {{#link-to 'detail' h.cik classNames="accordion-toggle" data-toggle="collapse-next"}}
            <div class="list-group-item seventy square">
                <div class="hit-text-wrapper">
                    <h5 class="list-group-item-heading">
                        {{h.name}}
                    </h5>
                </div>

                <div class="row-fluid hit-badge-wrapper">
                    <div id="badge-header">
                        {{#unless h.redFlags.possible}}
                            <p class="lg-text">
                                Red Flags : {{h.redFlags.total}}/{{h.redFlags.possible}}
                            </p>
                        {{else}}
                            Red Flags : {{h.redFlags.total}}/{{h.redFlags.possible}}
                        {{/unless}}
                        {{!-- (*) This could be cleaned up --}}
                        {{#if h.__topic__.doc_count}}
                            -- Mentions : {{h.__topic__.doc_count}}
                        {{/if}}
                    </div>
                    
                    <br />

                    {{ view "hit-text" redFlags=h.redFlags.financials type="financials" first_column=true }}
                    {{ view "hit-text" redFlags=h.redFlags.symbology type="symbology" first_column=true }}
                    {{ view "hit-text" redFlags=h.redFlags.suspensions type="suspensions" first_column=true }}
                    {{ view "hit-text" redFlags=h.redFlags.delinquency type="delinquency" first_column=true }}
                    {{ view "hit-text" redFlags=h.redFlags.otc_neighbors type="otc_neighbors" first_column=true }}
                    {{ view "hit-text" redFlags=h.redFlags.pv type="pv" first_column=false }}
                    {{ view "hit-text" redFlags=h.redFlags.crowdsar type="crowdsar" first_column=false }}
                </div>
            </div>
        {{/link-to}}
    </div>
    <div class="accordion-body collapse out ab-sidebar">
        <div class="accordion-inner">
            <table id="search_result_{{unbound h.cik}}" class="display"></table>
            {{view "search-results" cik=h.cik}}
        </div>
    </div>
</div>
