{{!-- web/templates/dropdown-right.hbs --}}

{{!--
{{#if pv}}
    <span class="centered"><h4>Price/Volume Anomaly Definition</h4></span>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="control-label"> Price Spike (%) </label>
            {{
                input type="text"
                valueBinding=redFlagParams._params.pv.price_jump
                class="form-control input-text-hidden"
            }}
            {{
                view App.SliderView
                min=10
                max=1000
                step=5
                valueBinding=redFlagParams._params.pv.price_jump
                class="form-control input-slider-dropdown"
            }}
        </div>
        <div class="form-group">
            <label class="control-label"> Trailing Volume Window (days) </label>
            {{
                input type="text"
                valueBinding=redFlagParams._params.pv.volume_window
                class="form-control input-text-hidden"
            }}
            {{
                view App.SliderView
                min= 0
                max=1000
                step=10
                valueBinding=redFlagParams._params.pv.volume_window
                class="input-slider-dropdown"
            }}
        </div>
        <div class="form-group">
            <label class="control-label"> Trailing Volume Multiplier </label>
            {{
                input type="text"
                valueBinding=redFlagParams._params.pv.volume_multiplier
                class="form-control input-text-hidden"
            }}
            {{
                view App.SliderView
                min=0
                max=100
                step=1
                valueBinding=redFlagParams._params.pv.volume_multiplier
                class="form-control input-slider-dropdown"
            }}
        </div>
        <div class="form-group">
            <label class="control-label"> Fall To (%) </label>
            {{
                input type="text"
                valueBinding=redFlagParams._params.pv.fall_to
                class="form-control input-text-hidden"
            }}    
            {{
                view App.SliderView
                min=0
                max=100
                step=1
                valueBinding=redFlagParams._params.pv.fall_to
                class="input-slider-dropdown"
            }}
        </div>
        <div class="form-group">
            <label class="control-label"> Fall Within (days) </label>
            {{
                input type="text"
                valueBinding=redFlagParams._params.fall_within
                class="form-control input-text-hidden"
            }}
            {{
                view App.SliderView
                min=0
                max=1000
                step=10
                valueBinding=redFlagParams._params.pv.fall_within
                class="input-slider-dropdown"
            }}
        </div>
    </form>
{{/if}}
--}}

{{#if crowdsar}}
    <span class="centered"><h4>CROWDSAR Definition</h4></span>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="control-label">From Date:</label>
            {{
                view App.DatepickerView
                defaultDate=redFlagParams._params.crowdsar.min_date
                valueBinding=redFlagParams._params.crowdsar.min_date
                class="form-control"
            }}
            <label class="control-label">To Date:</label>
            {{
                view App.DatepickerView
                defaultDate=redFlagParams._params.crowdsar.max_date
                valueBinding=redFlagParams._params.crowdsar.max_date
                class="form-control"
            }}
        </div>
        <div class="form-group">
            <label class="control-label"> Field </label>
            {{
                view Ember.Select
                content=crowdsar_select_content.field
                valueBinding=redFlagParams._params.crowdsar.field
                optionValuePath="content.id"
                optionLabelPath="content.name"
                class="form-control"
            }}
        </div>
        <div class="form-group">
            <label class="control-label"> Metric </label>
            {{
                view Ember.Select
                content=crowdsar_select_content.metric
                valueBinding=redFlagParams._params.crowdsar.metric
                optionValuePath="content.id"
                optionLabelPath="content.name"
                class="form-control"
            }}
        </div>
        <div class="form-group">
            <label class="control-label"> Threshold </label>
            {{
                input type="number"
                valueBinding=redFlagParams._params.crowdsar.threshold
                class="form-control"
            }}
        </div>

    </form>
{{/if}}

{{!--
{{#if tout}}
    <span class="centered"><h4>Tout Definition</h4></span>
        <form class="form-horizontal">
            <div class="form-group">
                <label class=" control-label"> Tout Metric </label>
                
                    <span class="centered">
                        {{
                            view Ember.Select
                            content=tout_select_content
                            valueBinding="rf.tout.type"
                            optionValuePath="content.id"
                            optionLabelPath="content.name"}}
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label class=" control-label"> Touted in Past Y Months </label>
                
                    {{
                        input type="text"
                        valueBinding="rf.tout.past_months"
                        class="input-text-hidden"
                    }}
                    {{
                        view App.SliderView min = 0
                        max  = 5
                        step = 1
                        valueBinding="rf.tout.past_months"
                        class="input-slider-dropdown"
                    }}
                </div>
            </div>
        </form>
    </span>
{{/if}}
--}}
        
{{#if symbology}}
    <span class="centered"><h4>Change in Business Definition</h4></span>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="control-label">From Date:</label>
            {{
                view App.DatepickerView
                defaultDate=redFlagParams._params.symbology.min_date
                valueBinding=redFlagParams._params.symbology.min_date
                class="form-control"
            }}
            <label class="control-label">To Date:</label>
            {{
                view App.DatepickerView
                defaultDate=redFlagParams._params.symbology.max_date
                valueBinding=redFlagParams._params.symbology.max_date
                class="form-control"
            }}
        </div>
        <div class="form-group">
            <label class="control-label"> Name Field </label>
            {{
                view Ember.Select
                content=symbology_select_content
                valueBinding=redFlagParams._params.symbology.field
                optionValuePath="content.id"
                optionLabelPath="content.name"
                class="form-control"
            }}
        </div>
        <div class="form-group">
            <label class="control-label"> Threshold </label>
            {{
                input type="number"
                valueBinding=redFlagParams._params.symbology.threshold
                class="form-control"
            }}
        </div>
    </form>
{{/if}}
        
{{#if financials}}
    <span class="centered"><h4>No Revenues Definition</h4></span>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="control-label">From Date:</label>
            {{
                view App.DatepickerView
                defaultDate=redFlagParams._params.financials.min_date
                valueBinding=redFlagParams._params.financials.min_date
                class="form-control"
            }}
                    
            <label class="control-label">To Date:</label>
            {{
                view App.DatepickerView
                defaultDate=redFlagParams._params.financials.max_date
                valueBinding=redFlagParams._params.financials.max_date
                class="form-control"
            }}
        </div>
        <div class="form-group">
            <label class="control-label"> Threshold </label>
            {{
                input
                type="number"
                valueBinding=redFlagParams._params.financials.threshold
                class="form-control"
            }}
        </div>
        <div class="form-group">
            <label class="control-label"> Financial Measure </label>
            {{
                view Ember.Select
                content=financials_select_content
                valueBinding=redFlagParams._params.financials.type
                optionValuePath="content.id"
                optionLabelPath="content.name"
                class="form-control"
            }}
        </div>
        <div class="form-group">
            <label class="control-label"> Value </label>
            {{
                input type="text"
                valueBinding=redFlagParams._params.financials.value
                class="form-control input-text-hidden"
            }}
            {{
                view App.SliderView
                min=0
                max=1000000
                step=100
                valueBinding=redFlagParams._params.financials.value
                class="input-slider-dropdown"
            }}
        </div>
    </form>
{{/if}}

{{#if delinquency}}
    <span class="centered"><h4>Late Filings Definition</h4></span>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="control-label">From Date:</label>
            {{
                view App.DatepickerView
                defaultDate=redFlagParams._params.delinquency.min_date
                valueBinding=redFlagParams._params.delinquency.min_date
                class="form-control"
            }}
            <label class="control-label">To Date:</label>
            {{
                view App.DatepickerView
                defaultDate=redFlagParams._params.delinquency.max_date
                valueBinding=redFlagParams._params.delinquency.max_date
                class="form-control"
            }}
        </div>
        <div class="form-group">
            <label class="control-label"> Form </label>
            {{
                view Ember.Select
                content=late_filings_content
                valueBinding=redFlagParams._params.delinquency.form
                optionValuePath="content.id"
                optionLabelPath="content.name"
                class="form-control"
            }}
        </div>
        <div class="form-group">
            <label class=" control-label"> Threshold </label>
            {{
                input type="number"
                size=6
                valueBinding=redFlagParams._params.delinquency.threshold
                class="form-control"
            }}
        </div>
    </form>
{{/if}}

{{#if suspensions}}
    <span class="centered"><h4>Trading Halts Definition</h4></span>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="control-label">From Date:</label>
            {{
                view App.DatepickerView
                defaultDate=redFlagParams._params.suspensions.min_date
                valueBinding=redFlagParams._params.suspensions.min_date
                class="form-control"
            }}
            <label class="control-label">To Date:</label>
            {{
                view App.DatepickerView
                defaultDate=redFlagParams._params.suspensions.max_date
                valueBinding=redFlagParams._params.suspensions.max_date
                class="form-control"
            }}
        </div>

        <div class="form-group">
            <label class=" control-label"> Threshold </label>
            {{
                input type="number"
                valueBinding=redFlagParams._params.suspensions.threshold
                class="form-control"
            }}
        </div>
    </form>
{{/if}}

{{#if otc_neighbors}}
    <span class="centered"><h4>OTC Affiliates Definition</h4></span>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="control-label"> Number of Neighbors </label>
            {{
                input type="text"
                valueBinding=redFlagParams._params.otc_neighbors.number_of_neighbors
                class="form-control input-text-hidden"
            }}
            {{
                view App.RangeSliderView
                min=0
                max=100
                valuesBinding=redFlagParams._params.otc_neighbors.number_of_neighbors
                class="range-slider"
            }}
        </div>
        <div class="form-group">
            <label class="control-label"> Percent OTC </label>
            {{
                input type="text"
                valueBinding=redFlagParams._params.otc_neighbors.threshold
                class="form-control input-text-hidden"
            }}
            {{
                view App.SliderView
                min=0
                max=100
                step=1
                valueBinding=redFlagParams._params.otc_neighbors.threshold
                class="input-slider-dropdown"
            }}
        </div>
    </form>
{{/if}}