{{!-- web/templates/dropdown-right.hbs --}}

{{#if pv}}
    <span class="centered"><h4>Price/Volume Anomaly Definition</h4></span>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-4 control-label"> Price Spike (%) </label>
            <div class="col-sm-8">
                {{
                    input type="text"
                    valueBinding=redFlagParams._params.pv.price_jump
                    class="input-text-hidden"
                }}
                {{
                    view App.SliderView min  = 10
                    max  = 1000
                    step = 5
                    valueBinding=redFlagParams._params.pv.price_jump
                    class="input-slider-dropdown"
                }}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label"> Trailing Volume Window (days) </label>
            <div class="col-sm-8">
                {{
                    input type="text"
                    valueBinding=redFlagParams._params.pv.volume_window
                    class="input-text-hidden"
                }}
                {{
                    view App.SliderView min  = 0
                    max  = 1000
                    step = 10
                    valueBinding=redFlagParams._params.pv.volume_window
                    class="input-slider-dropdown"
                }}

            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label"> Trailing Volume Multiplier </label>
            <div class="col-sm-8">
                {{
                    input type="text"
                    valueBinding=redFlagParams._params.pv.volume_multiplier
                    class="input-text-hidden"
                }}
                {{
                    view App.SliderView min  = 0
                    max  = 100
                    step = 1
                    valueBinding=redFlagParams._params.pv.volume_multiplier
                    class="input-slider-dropdown"
                }}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label"> Fall To (%) </label>
            <div class="col-sm-8">
                {{
                    input type="text"
                    valueBinding=redFlagParams._params.pv.fall_to
                    class="input-text-hidden"
                }}    
                {{
                    view App.SliderView min  = 0
                    max  = 100
                    step = 1
                    valueBinding=redFlagParams._params.pv.fall_to
                    class="input-slider-dropdown"
                }}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label"> Fall Within (days) </label>
            <div class="col-sm-8">
                {{
                    input type="text"
                    valueBinding=redFlagParams._params.fall_within
                    class="input-text-hidden"
                }}
                {{
                    view App.SliderView min  = 0
                    max  = 1000
                    step = 10
                    valueBinding=redFlagParams._params.pv.fall_within
                    class="input-slider-dropdown"
                }}
            </div>
        </div>
    </form>
{{/if}}
        
{{#if crowdsar}}
    <span class="centered"><h4>CROWDSAR Definition</h4></span>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-4 control-label"> Suspicion Metric </label>
            <div class="col-sm-8">
                <span class="centered">
                    {{
                        view Ember.Select
                        content=crowdsar_select_content
                        valueBinding=redFlagParams._params.crowdsar.type
                        optionValuePath="content.id"
                        optionLabelPath="content.name"
                    }}
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label"> Suspicious in Past Y Months </label>
            <div class="col-sm-8">
                {{
                    input type="text"
                    valueBinding=redFlagParams._params.crowdsar.past_months
                    class="input-text-hidden"
                }}
                {{
                    view App.SliderView min  = 0
                    max  = 5
                    step = 1
                    valueBinding=redFlagParams._params.crowdsar.past_months
                    class="input-slider-dropdown"
                }}
            </div>
        </div>
    </form>
{{/if}}

{{!--
{{#if tout}}
    <span class="centered"><h4>Tout Definition</h4></span>
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-4 control-label"> Tout Metric </label>
                <div class="col-sm-8">
                    <span class="centered">
                        {{
                            view Ember.Select
                            content=tout_select_content
                            valueBinding="rf.tout.type"
                            optionValuePath="content.id"
                            optionLabelPath="content.name"}}
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label"> Touted in Past Y Months </label>
                <div class="col-sm-8">
                    {{
                        input type="text"
                        valueBinding="rf.tout.past_months"
                        class="input-text-hidden"
                    }}
                    {{
                        view App.SliderView min = 0
                        max  = 5
                        step = 1
                        valueBinding="rf.tout.past_months"
                        class="input-slider-dropdown"
                    }}
                </div>
            </div>
        </form>
    </span>
{{/if}}
--}}
        
{{#if symbology}}
    <span class="centered"><h4>Change in Business Definition</h4></span>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-4 control-label"> Name Field </label>
            <div class="col-sm-8">
                <span class="centered">
                    {{
                        input type="text"
                        valueBinding=redFlagParams._params.symbology.field
                    }}
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label"> Date Range </label>
            <div class="col-sm-8">
                <span>
                    From:{{
                        view App.DatepickerView
                        defaultDate=redFlagParams._params.symbology.min_date
                        valueBinding=redFlagParams._params.symbology.min_date
                        }}
                </span>
                <span>
                    &nbsp;&nbsp;&nbsp;&nbsp;To: {{
                        view App.DatepickerView
                        defaultDate=redFlagParams._params.symbology.max_date
                        valueBinding=redFlagParams._params.symbology.max_date
                        }}
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label"> Threshold </label>
            <div class="col-sm-8">
                <span class="centered">
                    {{
                        input type="number"
                        valueBinding=redFlagParams._params.symbology.threshold
                    }}
                </span>
            </div>
        </div>
    </form>
{{/if}}
        
{{#if financials}}
    <span class="centered"><h4>No Revenues Definition</h4></span>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-4 control-label"> Financial Measure </label>
            <div class="col-sm-8">
                <span class="centered">
                    {{
                        view Ember.Select
                        content=financials_select_content
                        valueBinding=redFlagParams._params.financials.type
                        optionValuePath="content.id"
                        optionLabelPath="content.name"
                    }}
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label"> Value </label>
            <div class="col-sm-8">
                {{
                    input type="text"
                    valueBinding=redFlagParams._params.financials.value
                    class="input-text-hidden"
                }}
                {{
                    view App.SliderView min  = 0
                    max  = 1000000
                    step = 100
                    valueBinding=redFlagParams._params.financials.value
                    class="input-slider-dropdown"
                }}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label"> Date Range </label>
            <div class="col-sm-8">
                <span>
                    From: {{view App.DatepickerView
                    defaultDate=redFlagParams._params.financials.min_date
                    valueBinding=redFlagParams._params.financials.min_date}}
                </span>
                <br />
                <span>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    To: {{view App.DatepickerView
                    t=redFlagParams._params.financials.max_date
                    defaultDate=redFlagParams._params.financials.max_date
                    valueBinding=redFlagParams._params.financials.max_date}}
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label"> Threshold </label>
            <div class="col-sm-8">
                <span class="centered">
                    &nbsp;
                    {{
                        input
                        type="number"
                        valueBinding=redFlagParams._params.financials.threshold
                    }}
                </span>
            </div>
        </div>
    </form>
{{/if}}

{{#if delinquency}}
    <span class="centered"><h4>Late Filings Definition</h4></span>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-4 control-label"> Form </label>
            <div class="col-sm-8">
                <span class="centered">
                    {{
                        view Ember.Select
                        content=late_filings_content
                        valueBinding=redFlagParams._params.delinquency.form
                        optionValuePath="content.id"
                        optionLabelPath="content.name"
                    }}
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label"> Date Range </label>
            <div class="col-sm-8">
                <span>
                    From: {{view App.DatepickerView
                            defaultDate=redFlagParams._params.delinquency.min_date
                            valueBinding=redFlagParams._params.delinquency.min_date
                          }}
                </span>
                <br />
                <span>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    To: {{view App.DatepickerView
                          defaultDate=redFlagParams._params.delinquency.max_date
                          valueBinding=redFlagParams._params.delinquency.max_date
                          }}
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label"> Threshold </label>
            <div class="col-sm-8">
                {{
                    input type="number"
                    size=6
                    valueBinding=redFlagParams._params.delinquency.threshold
                }}
            </div>
        </div>
    </form>
{{/if}}

{{#if trading_halts}}
    <span class="centered"><h4>Trading Halts Definition</h4></span>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-4 control-label"> Date Range </label>
            <div class="col-sm-8">
                <span>
                    From: {{view App.DatepickerView
                            defaultDate=redFlagParams._params.trading_halts.min_date
                            valueBinding=redFlagParams._params.trading_halts.min_date
                          }}
                </span>
                <br />
                <span>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    To: {{view App.DatepickerView
                          defaultDate=redFlagParams._params.trading_halts.max_date
                          valueBinding=redFlagParams._params.trading_halts.max_date
                          }}
                </span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label"> Threshold </label>
            <div class="col-sm-8">
                {{
                    input type="number"
                    valueBinding=redFlagParams._params.trading_halts.threshold
                }}
            </div>
        </div>
    </form>
{{/if}}
    
{{#if network}}
    <span class="centered"><h4>OTC Affiliates Definition</h4></span>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-4 control-label"> Number of Neighbors </label>
            <div class="col-sm-8">
                {{
                    input type="text"
                    valueBinding=redFlagParams._params.network.number_of_neighbors
                    class="input-text-hidden"
                }}
                {{
                view App.RangeSliderView
                    min=0
                    max=100
                    valuesBinding=redFlagParams._params.network.number_of_neighbors
                    class="range-slider"
                }}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label"> Percent OTC </label>
            <div class="col-sm-8">
                {{
                    input type="text"
                    valueBinding=redFlagParams._params.network.percent_otc
                    class="input-text-hidden"
                }}
                {{
                    view App.SliderView min  = 0
                    max  = 100
                    step = 1
                    valueBinding=redFlagParams._params.network.percent_otc
                    class="input-slider-dropdown"
                }}
            </div>
        </div>
    </form>
{{/if}}
