{{!-- web/templates/_mainnavbar.hbs --}}

{{#if showNav}}
    <nav class="navbar yamm navbar-fixed-top" id="navbar-bgcolor" role="navigation">
            {{#if session.isAuthenticated}}
                <a {{action 'invalidateSession'}} id="btn-logout" class="btn btn-link navbar-btn navbar-right">
                    <i class="fa fa-sign-out"></i>
                </a>
            {{/if}}

        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand red-text">SAE</a>
            </div>

            <div class="collapse navbar-collapse">
                <div class="navbar-form navbar-left" id="search-padding">
                    <div class="form-group">
                       {{
                            focus-input class="form-control"
                            placeholder="- Search Company -"
                            id="search-text" insert-newline="companySearch"
                        }}
   
                    </div>
   
                    {{#if isLoading }}
                        {{!-- <div class="loader-widget"> --}}
                            <img id="spinner" src="css/ajax-loader.gif">
                            <span class="loader-text" >Loading results...</span>
                        {{!-- </div>  --}}
                    {{/if}}

                </div>



                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown yamm" id="big-dropdown">
                        <a class="btn btn-default navbar-btn dropdown-toggle" id="big-dropdown-button" data-toggle="dropdown"> Red Flag Filters </a>
                        <ul class="dropdown-menu dropdown-menu-animated" id="filter-list">
                            <li>
                                <div class="yamm-content">
                                    {{render "dropdown"}}
                                </div>
                            </li>
                        </ul>
                    </li>

                {{!--
                    <li class="dropdown yamm" id="big-dropdown-topic">
                        <a class="btn btn-default navbar-btn dropdown-toggle" id="big-dropdown-button-topic" data-toggle="dropdown"> Search Topic of Interest </b></a>
                        <ul class="dropdown-menu dropdown-menu-animated" style="width:30%; height:100px;">
                            <li>
                                <div class="yamm-content">
                                    <div class="form-group">
                                        <span class="centered">
                                            <h4 style="color:blue;"> Search Topic Of Interest </h4>
                                                {{focus-input class="form-control" placeholder="- Search Topic Of Interest -" value=searchTerm_topic style="text-align:center; width:60%;" id="input-topic" insert-newline="topicSearch" }}
                                        </span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </a>
                </li>
                --}}
                {{!--
                <li>
                    <a class="btn btn-default navbar-btn" id="big-button-promotions" {{action "allPromotions"}}>
                        Promotions
                    </a>
                </li>
                --}}
                </ul>
            </div>
        </div>
    </nav>
{{/if}}
