{{!-- web/templates/board.hbs --}}
{{#if isLoading }}
    <div class="data-progress centered">
        <i class="fa fa-spinner fa-spin" id="spinner"></i>
        <span class="loader-text" >Loading Data...</span>
    </div>
{{/if }}

{{#if isData}}
    <div class="col-xs-12" id="techan-wrapper">
        <div id="time-chart" class="chart"></div>
    </div>
{{else}}
    <span class="centered">
    <h4> There is no data available. </h4>
    </span>
{{/if}}

    <div class="col-xs-12 charts-wrapper">
        <div class="col-xs-6" id="gauge-timeline-cell">
            {{#if timelineLoading}}
                <div class="data-progress centered">
                    <i class="fa fa-spinner fa-spin" id="spinner"></i>
                    <span class="loader-text" >Loading Timeline Data...</span>
                </div>
            {{else}}
                <table class="col-xs-12 table timeline-panel" id="timeline">
                    <thead>
                        <tr>
                            <th class="col-xs-4">
                                <button class="col-xs-12"> Sort </button>
                            </th>
                            <th class="col-xs-8">
                                <button class="col-xs-12"> Sort </button>
                            </th>
                        </tr>
                    </thead>
                    {{#each topX}}
                        <tr>    
                            <td class="col-xs-4">
                                <div id='gauge-{{this}}' class="gauge chart"></div>
                            </td>
                            <td class="col-xs-8 ts chart" id="ts-{{this}}" {{action "topXClicked" this}}>
                                <div class="timeline-info">                        
                                    <span class="title"></span>
                                    <div class="count-wrapper pull-right during"></div>
                                </div>
                            </td>
                        </tr>
                    {{/each}}
                </table>
            {{/if}}
        </div>
        <div class="col-xs-6" id="forum-posts-cell">
            <div class="forum-div">
                {{forum-posts postFilteredData splitByFilter}}
            </div>
        </div>
    </div>
