{{!-- web/templates/board.hbs --}}

<h3 id="mbinline">
  {{routeName_pretty}} : {{selection_pretty}}
</h3>

<h5 id="post-total">
  {{n_posts}} posts total
</h5>

{{#if split_by_filter_nonempty}}
  <span id="examine-button">
    <button class="btn btn-primary" {{action 'drilldown'}}>
      Examine Selected
    </button>
  </span>
{{/if}}

<div class="col-xs-12" id="techan-wrapper">
  <div id="time-chart" class="chart"></div>
</div>

<hr>

<div class="row-fluid">
  <div class="col-xs-6">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
        <a href="#time" aria-controls="home" role="tab" data-toggle="tab">
          Time Series by
          {{#if routeIsBoard}}
            Poster
          {{else}}
            Board
          {{/if}}
        </a>
      </li>

      {{#if routeIsBoard}}
        <li role="presentation">
          <a href="#network" aria-controls="profile" role="tab" data-toggle="tab">
            Poster Network Similiarity
          </a>
        </li>
      {{/if}}
    </ul>
    <div class="tab-content" id="vis-wrapper">
      <div role="tabpanel" class="tab-pane active" id="time">
        <div class="col-xs-12">
          {{#each top_x}}
            <div class="row-fluid">
              <div class="col-xs-2">
                <div id='gauge-{{this.index}}' class="gauge chart"></div>
              </div>

              <div class="col-xs-10">
                <div id="ts-{{this.item}}" class="ts chart" {{action "top_x_clicked" item}}>
                  <span class="title"></span>
                  <div class="count-wrapper pull-right">
                    <span class="before"></span> |
                    <span class="during"></span> |
                    <span class="after"></span>
                  </div>
                </div>
              </div>

            </div>
          {{/each}}
        </div>
      </div>

      <div role="tabpanel" class="tab-pane" id="network">
        <div class="row-fluid">
          <h4> User Coocurrence Matrix </h4>
          <div id="cooc"></div>
        </div>
      </div>

    </div>
  </div>

  <div class="col-xs-6">
    {{#if aggs}}
      <table class="terms-wrapper" id='sig-terms'>

        <tr>
          <td id='app-grey'>
            Significant Terms
          </td>
          {{#each aggs.general}}
            <td id='app-key'> {{this.key}} </td>
          {{/each}}
        </tr>

        <tr>
          <td id='app-grey'>
            Entities
          </td>
          {{#each aggs.ents}}
            <td id='app-key-two'>
              {{this.key}}
            </td>
          {{/each}}
        </tr>

      </table>
    {{else}}
      <table class="terms-wrapper" id="sig-terms">
        <tr><td id='app-grey'>Significant Terms</td><td id='app-key'></td></tr>
        <tr><td id='app-grey'>Entities</td><td id='app-key-two'></td></tr>
      </table>
    {{/if}}

    <div class="row-fluid">
      <div class="col-xs-12">
        <div class="list-group" id="collection">
            <div class="list-group-item comments-group-item">
              <span class="list-group-item-heading" id='app-grey'>
                (post user){{post.user}} at (post date){{post.date}} on (post board){{post.board}}
              </span>
              <p class="list-group-item-text" id='app-msg'>
                (post msg){{post.msg}}
              </p>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
