{{!-- web/templates/board.hbs --}}
{{#if isLoading }}
    <div class="data-progress centered">
        <i class="fa fa-spinner fa-spin" id="spinner"></i>
        <span class="loader-text" >Loading Data...</span>
    </div>
{{/if }}

{{#if isData}}
    <div class="col-xs-12" id="techan-wrapper">
        <div id="time-chart" class="chart"></div>
    </div>

    <div class="col-xs-12 charts-wrapper">
        <div class="col-xs-6" id="gauge-timeline-cell">
            {{#if timelineLoading}}
                <div class="data-progress centered">
                    <i class="fa fa-spinner fa-spin" id="spinner"></i>
                    <span class="loader-text" >Loading Timeline Data...</span>
                </div>
            {{else}}
                <div class="timeline-panel" id="timeline">
                {{#each topX}}
                    <div class="col-xs-3">
                        <div id='gauge-{{this}}' class="gauge chart"></div>
                    </div>
                    <div class="col-xs-9 ts chart" id="ts-{{this}}" {{action "topXClicked" this}}>
                        <div class="timeline-info">                        
                            <span class="title"></span>
                            <div class="count-wrapper pull-right">
                                <span>Num. Posts: </span><span class="during"></span>
                            </div>
                        </div>
                    </div>
                {{/each}}
                </div>
            {{/if}}
        </div>
        {{forum-posts postFilteredData splitByFilter}}
    </div>
{{else}}
    <span class="centered">
    <h4> There is no data available. </h4>
    </span>
{{/if}}
