{{!-- web/templates/board.hbs --}}
{{#if isLoading }}
    <div class="data-progress centered">
        <i class="fa fa-spinner fa-spin" id="spinner"></i>
        <span class="loader-text" >Loading Data...</span>
    </div>
{{/if }}

{{#if isData}}
    <div class="col-xs-12" id="techan-wrapper">
        <div id="time-chart" class="chart"></div>
    </div>
{{else}}
    <span class="centered">
    <h4> There is no data available. </h4>
    </span>
{{/if}}

    <div class="col-xs-12 charts-wrapper">
        <div class="col-xs-6" id="gauge-timeline-cell">
            {{#if timelineLoading}}
                <div class="data-progress centered">
                    <i class="fa fa-spinner fa-spin" id="spinner"></i>
                    <span class="loader-text" >Loading Timeline Data...</span>
                </div>
            {{else}}
                <ul class="col-xs-12 timeline-panel" id="timeline">
                    {{#each topX}}
                        <li>    
                            <div class="col-xs-4">
                                <div id='gauge-{{this}}' class="gauge chart"></div>
                            </div>
                            <div class="col-xs-8 ts chart" id="ts-{{this}}">
                                <div class="timeline-info">                        
                                    <span class="title" {{action "topXClicked" this}}></span>
                                    <div class="count-wrapper pull-right during" {{action "sortDocCount"}}></div>
                                </div>
                            </div>
                        </li>
                    {{/each}}
                </ul>
            {{/if}}
        </div>
        <div class="col-xs-6" id="forum-posts-cell">
            <div class="forum-div">
                {{forum-posts postFilteredData splitByFilter}}
            </div>
        </div>
    </div>
