{{!-- web/templates/dropdown-right.hbs --}}

{{#if pv}}
    <span class="centered"><h4>Price/Volume Anomaly Definition</h4></span>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-4 control-label"> Price Spike (%) </label>
            <div class="col-sm-8">
                {{
                    input type="text"
                    valueBinding="rf.pv.price_jump"
                    class="input-text-hidden"
                }}
                {{
                    view App.SliderView min  = 10
                    max  = 1000
                    step = 5
                    valueBinding='rf.pv.price_jump'
                    class="input-slider-dropdown"
                }}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label"> Trailing Volume Window (days) </label>
            <div class="col-sm-8">
                {{
                    input type="text"
                    valueBinding="rf.pv.volume_window"
                    class="input-text-hidden"
                }}
                {{
                    view App.SliderView min  = 0
                    max  = 1000
                    step = 10
                    valueBinding='rf.pv.volume_window'
                    class="input-slider-dropdown"
                }}

            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label"> Trailing Volume Multiplier </label>
            <div class="col-sm-8">
                {{
                    input type="text"
                    valueBinding="rf.pv.volume_multiplier"
                    class="input-text-hidden"
                }}
                {{
                    view App.SliderView min  = 0
                    max  = 100
                    step = 1
                    valueBinding='rf.pv.volume_multiplier'
                    class="input-slider-dropdown"
                }}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label"> Fall To (%) </label>
            <div class="col-sm-8">
                {{
                    input type="text"
                    valueBinding="rf.pv.fall_to"
                    class="input-text-hidden"
                }}    
                {{
                    view App.SliderView min  = 0
                    max  = 100
                    step = 1
                    valueBinding='rf.pv.fall_to'
                    class="input-slider-dropdown"
                }}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label"> Fall Within (days) </label>
            <div class="col-sm-8">
                {{
                    input type="text"
                    valueBinding="rf.pv.fall_within"
                    class="input-text-hidden"
                }}
                {{
                    view App.SliderView min  = 0
                    max  = 1000
                    step = 10
                    valueBinding='rf.pv.fall_within'
                    class="input-slider-dropdown"
                }}
            </div>
        </div>
    </form>
{{/if}}
        
{{#if crowdsar}}
    <span class="centered"><h4>CROWDSAR Definition</h4></span>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-4 control-label"> Suspicion Metric </label>
            <div class="col-sm-8">
                <span class="centered">
                    {{
                        view Ember.Select
                        content=crowdsar_select_content
                        valueBinding="rf.crowdsar.type"
                        optionValuePath="content.id"
                        optionLabelPath="content.name"
                    }}
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label"> Suspicious in Past Y Months </label>
            <div class="col-sm-8">
                {{
                    input type="text"
                    valueBinding="rf.crowdsar.past_months"
                    class="input-text-hidden"
                }}
                {{
                    view App.SliderView min  = 0
                    max  = 5
                    step = 1
                    valueBinding="rf.crowdsar.past_months"
                    class="input-slider-dropdown"
                }}
            </div>
        </div>
    </form>
{{/if}}

{{!--
{{#if tout}}
    <span class="centered"><h4>Tout Definition</h4></span>
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-4 control-label"> Tout Metric </label>
                <div class="col-sm-8">
                    <span class="centered">
                        {{
                            view Ember.Select
                            content=tout_select_content
                            valueBinding="rf.tout.type"
                            optionValuePath="content.id"
                            optionLabelPath="content.name"}}
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label"> Touted in Past Y Months </label>
                <div class="col-sm-8">
                    {{
                        input type="text"
                        valueBinding="rf.tout.past_months"
                        class="input-text-hidden"
                    }}
                    {{
                        view App.SliderView min = 0
                        max  = 5
                        step = 1
                        valueBinding="rf.tout.past_months"
                        class="input-slider-dropdown"
                    }}
                </div>
            </div>
        </form>
    </span>
{{/if}}
--}}
        
{{#if delta}}
    <span class="centered"><h4>Change in Business Definition</h4></span>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-4 control-label"> Type of Change </label>
            <div class="col-sm-8">
                <span class="centered">
                    {{
                        view Ember.Select
                        content=delta_select_content
                        valueBinding="rf.delta.type"
                        optionValuePath="content.id"
                        optionLabelPath="content.name"
                    }}
                </span>
            </div>
        </div>
                
        <div class="form-group">
            <label class="col-sm-4 control-label"> Number of Changes </label>
            <div class="col-sm-8">
                {{
                    input type="text"
                    valueBinding="rf.delta.thresh"
                    class="input-text-hidden"
                }}  
                {{
                    view App.SliderView min  = 0
                    max  = 10
                    step = 1
                    valueBinding='rf.delta.thresh'
                    class="input-slider-dropdown"
                }}
            </div>
        </div>
    </form>
{{/if}}
        
{{#if financials}}
    <span class="centered"><h4>No Revenues Definition</h4></span>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-4 control-label"> Financial Measure </label>
            <div class="col-sm-8">
                <span class="centered">
                    {{
                        view Ember.Select
                        content=financials_select_content
                        valueBinding="rf.financials.type"
                        optionValuePath="content.id"
                        optionLabelPath="content.name"
                    }}
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label"> Below X Dollars </label>
            <div class="col-sm-8">
                {{
                    input type="text"
                    valueBinding="rf.financials.below"
                    class="input-text-hidden"
                }}
                {{
                    view App.SliderView min  = 0
                    max  = 1000000
                    step = 100
                    valueBinding='rf.financials.below'
                    class="input-slider-dropdown"
                }}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label"> For past Y Years </label>
            <div class="col-sm-8">
                <span>
                    From: {{view App.DatepickerView valueBinding="rf.financials.from"}}
                </span>
                <br />
                <span>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    To: {{view App.DatepickerView valueBinding="rf.financials.to"}}
                </span>
            </div>
        </div>
    </form>
{{/if}}

{{#if delinquency}}
    <span class="centered"><h4>Late Filings Definition</h4></span>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-4 control-label"> Number of Late Filings </label>
            <div class="col-sm-8">
                        {{input type="text" valueBinding="rf.delinquency.thresh"
                            class="input-text-hidden"}}
                        {{view App.SliderView min  = 0
                                              max  = 20
                                              step = 1
                                              valueBinding="rf.delinquency.thresh"
                                              class="input-slider-dropdown"}}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label"> In Past Y Years </label>
            <div class="col-sm-8">
                {{
                    input type="text"   
                    valueBinding="rf.delinquency.since"
                    class="input-text-hidden"
                }}
                {{
                    view App.SliderView min  = 0
                    max = 10
                    step = 1
                    valueBinding = "rf.delinquency.since"
                    class = "input-slider-dropdown"
                }}
            </div>
        </div>
    </form>
{{/if}}

{{#if trading_halts}}
    <span class="centered"><h4>Trading Halts Definition</h4></span>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-4 control-label"> Number of Trading Suspensions </label>
            <div class="col-sm-8">
                {{
                    input type="text"
                    valueBinding="rf.trading_halts.thresh"
                    class="input-text-hidden"
                }}
                {{
                    view App.SliderView min  = 0
                    max  = 5
                    step = 1
                    valueBinding="rf.trading_halts.thresh"
                    class="input-slider-dropdown"
                }}
            </div>
        </div>
    </form>
{{/if}}
    
{{#if network}}
    <span class="centered"><h4>OTC Affiliates Definition</h4></span>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-4 control-label"> Measure of Associates </label>
            <div class="col-sm-8">
                <span class="centered">
                    {{
                        view Ember.Select
                        content=network_select_content
                        valueBinding    ="rf.network.type"
                        optionValuePath ="content.id"
                        optionLabelPath ="content.name"
                    }}
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label"> Threshold </label>
            <div class="col-sm-8">
                {{
                    input type="text"
                    valueBinding="rf.network.thresh"
                    class="input-text-hidden"
                }}
                {{
                    view App.SliderView min  = 0
                    max  = 100
                    step = 1
                    valueBinding='rf.network.thresh'
                    class="input-slider-dropdown"
                }}
            </div>
        </div>
    </form>
{{/if}}
