{{!-- web/templates/frontpage.hbs --}}

<div class="frontpage-align">
    <h2 class="sae-head"> Penny: Suspicious Activity Explorer </h2>

    <nav class="navbar yamm navbar-fixed-top" role="navigation">
        {{#if session.isAuthenticated}}
            <a {{action 'invalidateSession'}} id="btn-logout" class="btn btn-link pull-right">
                <i class="fa fa-sign-out"></i>
            </a>
        {{/if}}
    </nav>

    <div>
        <h3 class="h3-small header-top-padding"> - Search By Company Name or Ticker - </h3>
        {{focus-input class="input-fat centered" insert-newline="companySearch"}}
    </div>
            
    <div class="frontpage-table">
        <h3 class="h3-small"> - Search By Red Flags - </h3>
        <table class="table hoverTable front-page">

            {{
                view App.ToggleRowView
                text = "Company has no business, no revenues and no product."
                valueBinding = "redFlagParams._toggles.financials"
            }}

            {{
                view App.ToggleRowView
                text = "Company undergoes frequent material changes in business strategy or its line of business."
                valueBinding = "redFlagParams._toggles.symbology"
            }}

            {{
                view App.ToggleRowView
                text = "Officers or insiders of the issuer are associated with multiple penny stock issuers."
                valueBinding = "redFlagParams._toggles.otc_neighbors"
            }}

            {{
                view App.ToggleRowView
                text = "Company has been the subject of a prior trading suspension."
                valueBinding = "redFlagParams._toggles.suspensions"
            }}

            {{
                view App.ToggleRowView
                text = "Company has not made disclosures in SEC or other regulatory filings."
                valueBinding = "redFlagParams._toggles.delinquency"
            }}

            {{!--
            <tr class="no-hover">
                <td colspan="3">
                    <div class="under-construction">Currently Under Development</div>
                </td>
            </tr>
                        
            {{
                view App.DisabledToggleRowView
                text = "Company has experienced frequent or continuous changes in its business structure."
            }}
         
            {{
                view App.DisabledToggleRowView
                text = "Officers or insiders of the issuer have a history of securities violations."
            }}
            --}}

            <tr class="no-hover" id="hovertable-bottom-border"><td></td><td></td></tr>
            <tr class="no-hover">
                <td></td>
                <td><h3><font color="red"> Additional Red Flags </font></h3></td>
            </tr>
{{!--
            {{
                view App.ToggleRowView
                text = "Company stock has experienced recent price and/or volume anomalies."
                valueBinding = "redFlagParams._toggles.pv"
            }}
--}}
            {{
                view App.ToggleRowView
                text = "Investors have made allegations about malfeasance of the company on social media."
                valueBinding = "redFlagParams._toggles.crowdsar"
            }}
                <tr class="no-hover">
                    <td colspan="2">
                        <button class="btn btn-success btn-submit-frontpage" {{action "filterSearch"}}>
                            Find
                        </button>
                    </td>
                </tr>
            </table>
        </div>
</div>
