{{!-- web/templates/hit.hbs --}}

<div class="accordion-group">
    <div class="accordion-heading">
        {{#link-to 'detail' h.cik classNames="accordion-toggle" data-toggle="collapse-next" }}
            <div class="hit_item" {{bind-attr id=App.HitTextView.mid}}>
                <div class="hit-company-name">
                    <span class="rowLabel" >
                        {{h.name}}
                    </span>
                </div>

                {{log h}}
                 <table class="scores"> 
                   <tr>
                   <td {{bind-attr class="h.redFlags.financials.is_flag:tMedium"}}> 
                   <!-- Financials means no sales? not clear. -->
                       {{#if h.redFlags.financials.have }}
                          {{h.redFlags.financials.value}}
                       {{else}}
                        --
                       {{/if }}
                   </td>

                   <td {{bind-attr class="h.redFlags.symbology.is_flag:tMedium"}}>  <!-- Delta = change in business? -->
                       {{#if h.redFlags.symbology.have }}
                          {{h.redFlags.symbology.value}}
                       {{else}}
                        --
                       {{/if }}
                   </td>

                   <td {{bind-attr class="h.redFlags.trading_halts.is_flag:tMedium"}}>  <!--Trade Suspensions-->
                       {{#if h.redFlags.trading_halts.have }}
                          {{h.redFlags.trading_halts.value}}
                       {{else}}
                        --
                       {{/if }}
                   </td>

                   <td {{bind-attr class="h.redFlags.delinquency.is_flag:tMedium"}}> <!-- Delinquincy = late filing? -->
                       {{#if h.redFlags.delinquency.have }}
                          {{h.redFlags.delinquency.value}}
                       {{else}}
                        --
                       {{/if }}
                   </td>

                   <td {{bind-attr class="h.redFlags.network.is_flag:tMedium"}}> <!-- OTC associates? -->
                       {{#if h.redFlags.network.have }}
                          {{h.redFlags.network.value}}
                       {{else}}
                        --
                       {{/if }}
                   </td>

                   <td {{bind-attr class="h.redFlags.pv.is_flag:tMedium"}}>
                       {{!-- Different from rest since have_value always true, but value field is often null. --}}
                       {{#if h.redFlags.pv.have }}
                          {{h.redFlags.pv.value}}
                       {{else}}
                        --
                       {{/if }}
                   </td>

                   <td {{bind-attr class="h.redFlags.crowdsar.is_flag:tMedium"}}>
                       {{!-- Different from rest since have_value always true, but value field is often null. --}}
                       {{#if h.redFlags.crowdsar.have }}
                          {{h.redFlags.crowdsar.value}}
                       {{else}}
                          --
                       {{/if }}
                   </td>

                   <td>
                       {{h.redFlags.total}}
                   </td>

                 </tr>
             </table>
            </div> <!-- End hit item -->
        {{/link-to}}
    </div> <!-- End hit heading -->
    <div class="accordion-body collapse out ab-sidebar">
        <div class="accordion-inner">
        <table id="{{unbound h.cik}}" class="display"></table>
            {{view App.SearchResultsView cik=h.cik}}
        </div>
    </div>

</div>
