{{!-- web/templates/hit.hbs --}}

<div class="accordion-group">
    <div class="accordion-heading">
        {{#link-to 'detail' h.cik classNames="accordion-toggle" data-toggle="collapse-next"}}
            <div class="list-group-item seventy square">
                <div class="hit-text-wrapper">
                    <h5 class="list-group-item-heading">
                        {{h.name}}
                    </h5>
                </div>

                <div class="row-fluid hit-badge-wrapper">
                    <div id="badge-header">
                        {{#unless h.red_flags.possible}}
                            <p class="lg-text">
                        {{/unless}}
                            Red Flags : {{h.red_flags.total}}/{{h.red_flags.possible}}
                        {{#unless h.red_flags.possible}}
                            </p>
                        {{/unless}}
                    </div>
                    <br />

                    {{ view App.HitTextView red_flags=h.red_flags text="No Revenues" type="financials" first_column=true }}
                    {{ view App.HitTextView red_flags=h.red_flags text="Change In Business" type="delta" first_column=true }}
                    {{ view App.HitTextView red_flags=h.red_flags text="Trading Suspensions" type="trading_halts" first_column=true }}
                    {{ view App.HitTextView red_flags=h.red_flags text="Late Filings" type="delinquency" first_column=true }}
                    {{ view App.HitTextView red_flags=h.red_flags text="OTC Associates" type="network" first_column=true }}

                    {{ view App.HitTextView red_flags=h.red_flags text="PV Anomalies" type="pv" first_column=false }}
                    {{ view App.HitTextView red_flags=h.red_flags text="CROWDSAR" type="crowdsar" first_column=false }}
                </div>
            </div>
        {{/link-to}}
    </div>
    <div class="accordion-body collapse out ab-sidebar">
        <div class="accordion-inner">
        <table id="{{unbound h.cik}}" class="display"></table>
            {{view App.SearchResultsView cik=h.cik}}
        </div>
    </div>
</div>
