{{!-- web/templates/login.hbs --}}

<form id="login-form" {{action 'authenticate' on='submit'}}>

    <h1 class="splash-header"> Nodesec </h1>

    {{#if show_login}}
        <div class="input-group margin-bottom-sm">
            <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
            {{input value=identification placeholder='Enter Username' class='form-control' id="input-username"}}
        </div>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
            {{input value=password placeholder='Enter Password' class='form-control' id="input-password" type='password'}}
        </div>
        <br />
        {{#unless session.isAuthenticated}}
            <button id="auth-submit" type="submit" class="btn btn-default">Login</button>
        {{else}}
            <h3 class="splash-header"> Redirecting... </h3>
        {{/unless}}
    {{else}}
        {{#unless session.isAuthenticated}}
            <h3 class="splash-header"> Verifying Credentials... </h3>
        {{else}}
            <h3 class="splash-header"> Redirecting... </h3>
        {{/unless}}
    {{/if}}

</form>

{{#if errorMessage}}
    <div class="alert alert-danger alert-danger-login">
        <strong> Login failed: </strong> {{errorMessage}}
    </div>
{{/if}}
