{{!-- web/templates/sidebar.hbs --}}

<div class="col-sm-4 no-padding-leftright">
    {{#unless isLoading}}
        {{#if from}}
            Results: Page {{page}} 
            <br />
        {{/if}}
                
        {{#unless total_hits}}
            No companies in our database match your search criteria.
        {{else}}
            {{total_hits}} companies in our database match your search criteria. (Query took {{query_time}}s)
            
            {{#if searchTopic}}
                <div class="accordion-group">
                    <div class="accordion-heading">
                        {{#link-to 'summary' classNames="accordion-toggle" data-toggle="collapse-next"}}
                            <div class="list-group-item thirty square" style='border-color:red; margin-bottom:5px; text-align:center;'>
                                Results Summary
                            </div>
                        {{/link-to}}
                    </div>
                    <div class="accordion-body collapse out ab-sidebar">
                        <div class="accordion-inner">
                            {{outlet "summary"}}
                        </div>
                    </div>
                </div>
            {{/if}}
            
            <div class="list-group square">
                {{#each h in hits}}
                    {{#if h.name}}
                        {{view App.HitView h=h}}
                    {{/if}}
                {{/each}}
            </div>
        {{/unless}}
    {{/unless}}
</div>

<div class="col-sm-8 outlet-min-width">
    {{outlet "detail"}}
</div>
