{{!-- web/templates/sidebar.hbs --}}

<div class="col-sm-4 no-padding-leftright">
    {{#unless isLoading}}
        {{#if from}}
            Results: Page {{page}} 
            <br />
        {{/if}}
        
        {{#unless total_hits}}
            No companies in our database match your search criteria.
        {{else}}
            {{total_hits}} &nbsp; companies in our database
			match your search criteria.
             <table class="hitTable">
             <thead>
               <tr>
                 <th class="rotate">
                   <div><span>No Revenues</span></div>
                 </th>
                 <th class="rotate">
                   <div><span>Change Business</span></div>
                 </th>
                 <th class="rotate">
                   <div><span>Trade Suspensions</span></div>
                 </th>
                 <th class="rotate">
                   <div><span>Late Filing</span></div>
                 </th>
                 <th class="rotate">
                   <div><span>OTC Associates</span></div>
                 </th>
                 <th class="rotate">
                   <div><span>Price/Vol Anomaly*</span></div>
                 </th>
                 <th class="rotate">
                   <div><span>CROWDSAR*</span></div>
                 </th>
                 <th class="rotate">
                   <div><span># FINRA Flags (Non *)</span></div>
                 </th>
               </tr>
             </thead>
           </table>
          <div class="list-group square sidebar">
        
           
      
            {{#each h in hits}}
                {{#if h.name}}
                    {{view App.HitView h=h}}
                {{/if}}
            {{/each}}
          </div>
        {{/unless}}
    {{else}}
        <!--         <span class="centered">
                <img id="spinner" src="css/ajax-loader.gif">
        <div class="calculating-top-padding">
            Calculating...
        </div>
        </span> -->
    {{/unless}}
</div>

<div class="col-md-8 outlet-min-width">
    {{outlet}}
</div>
