{{!-- web/templates/sidebar.hbs --}}

<div class="col-sm-4 no-padding-leftright">
    {{#unless isLoading}}
        {{#if from}}
            Results: Page {{page}} 
            <br />
        {{/if}}
        
        {{#unless total_hits}}
            No companies in our database match your search criteria.
        {{else}}
            {{total_hits}} companies in our database match your search criteria. (Query took {{query_time}}s)
            <div class="list-group square">
                {{#each h in hits}}
                    {{#if h.name}}
                        {{view App.HitView h=h}}
                    {{/if}}
                {{/each}}
            </div>
        {{/unless}}

    {{/unless}}
</div>

<div class="col-sm-8 outlet-min-width">
    {{outlet}}
</div>
